# Node
node_modules/
dist/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.booproj
*.log
